body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#theater {
  margin: 0;
  padding: 0;
  height: 100%;
  display: table;
}

div#theater_row {
  margin: 0;
  padding: 0;
  display: table-row;
}

div#sidebar {
  margin: 0;
  padding: 0;
  background-color: #eee;
  width: 312;
  min-width: 312;
  max-width: 312;
  display: table-cell;
  height:100%;
  vertical-align: top;
}

div#menu {
  height: 50;
  padding: 2;
}

div#queue {
  margin: 0;
  padding: 0;
}

div#stage {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  display: table-cell;
  width: 100%;
  height: 100%;
}


iframe#stageFrame {
  border: 0;
  height: 100%;
  width: 100%;
}

embed {
  width: 100%;
  height: 100%;
}

div.queueEntry {
  border: 0;
  width: 312;
  height: 185;
  position: relative;
}

div.queueButton {
  position: absolute;
  width: 312;
  height: 185; 
}

div.queueButtonCurrent {
  width: 292;
  height: 165;
  border: 10 #44f solid;
}

div.queueButton:hover {
  cursor: pointer;
  width: 292;
  height: 165;
  border: 10 #7bf solid;
}

div.queueButtonHighlight {
  width: 292;
  height: 165;
  border: 10 #7bf solid;
}

iframe.queue {
  border: 0;
  width: 312;
  height: 185;
}