body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

div#theater {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div#theater_row {
  margin: 0;
  padding: 0;
}

div#sidebar {
  margin: 0;
  padding: 0;
  background-color: #eee;
  width: 333;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

div#menu {
  height: 30;
  padding: 2;
}

input#currentIdField {
  width: 130;
}

input#raiseSongButton:disabled {
  background-color: #ccc;
}

input#lowerSongButton:disabled {
  background-color: #ccc;
}

div#queueContainer {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  position: absolute;
  top: 30;
  bottom: 0;
  left: 0;
  width: 333;
}

div#queue {
  margin: 0;
  padding: 0;
}

div#stage {
  margin: 0;
  padding: 0;
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 333;
  right: 0;
}


iframe#sceneFrame {
  border: 0;
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

div.queueEntry {
  border: 0;
  width: 312;
  height: 185;
  position: relative;
}

div.queueButton {
  position: absolute;
  width: 312;
  height: 185; 
}

div.queueButton:hover {
  cursor: pointer;
  background-color: rgba(119, 187, 255, .25);
}

div.queueButtonHighlight {
  width: 292;
  height: 165;
  border: 10 #7bf solid;
}

div.queueButtonCurrent {
  width: 292;
  height: 165;
  border: 10 #44f solid;
}

iframe.queue {
  border: 0;
  width: 312;
  height: 185;
}

div.damQueue {
  width: 272;
  height: 145;
  padding: 10;
  border: 10 #ccc solid;
}

div.damTitle {
  font-size: larger;
  font-weight: bold;
}

img.damLogo {
  position: absolute;
  z-index: -1;
  width: 200;
  bottom: 20;
  right: 20;
}

div#help {
  position: fixed;
  width: 200;
  height: 200;
  top: 50%;
  left: 50%;
  margin-top: -100;
  margin-left: -100; 
  visibility: hidden;
  background-color: #eee;
  padding: 20;
}

div#help:hover {
  cursor: pointer;
}

span.helpKey {
  width: 40;
  display: inline-block;
}

div#webSqlContainer {
  position: absolute;
  width: 100%;
  top: 30;
  bottom: 0;
  overflow-y: auto;
}

pre#webSqlOutput {
  padding-left: 10;
}